/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


.v-btn--size-default {
    min-width: 36px !important;
}

.btn-create-bucket {
    margin-top: -25px;
}

.m-auto {
    margin: auto;
}

.hide-items .v-data-table-footer__items-per-page {
    display: none;
}

.creds {
    font-size: 12px;
    text-wrap: wrap;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 5px 10px;
    background: #ececec;
    margin-bottom: 10px;
}
